@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Noto+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Crimson Pro', serif;
  font-family: 'Noto Sans', sans-serif;
}
code {
  font-family: 'Crimson Pro', serif;
  font-family: 'Noto Sans', sans-serif;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
